@font-face {
    font-family: 'Bebas Neue Pro';
    src: url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Regular.eot');
    src: url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Regular.woff2') format('woff2'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Regular.woff') format('woff'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Regular.ttf') format('truetype'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Regular.svg#BebasNeuePro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Pro';
    src: url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Bold.eot');
    src: url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Bold.woff2') format('woff2'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Bold.woff') format('woff'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Bold.ttf') format('truetype'),
        url('https://mkt.alexandrelobel.com.br/media/css/fonts/BebasNeuePro-Bold.svg#BebasNeuePro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500i,600,600i&display=swap');

//Tamanhos de tela
$XSmax: 575px;
$SMmin: 576px;
$SMmax: 767px;
$MDmin: 768px;
$MDmax: 991px;
$LGmin: 992px;
$LGmax: 1200px;
$XLmin: 1201px;

//MIXINS
//Mobile
@mixin mobile($minHeight: false, $maxHeight: false) {
    @if $minHeight == false and $maxHeight == false {
        @content;
    } @else {
        @if $maxHeight == false {
            @media only screen and (min-width : $minHeight) {
                @content;
            }
        } @else {
            @if $minHeight == false {
                @media only screen and (max-width : $maxHeight) {
                    @content;
                }
            } @else {
                @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                    @content;
                }
            }
        }
    }
}

//Variaveis
$azul: #43CAF2;

//Global
a,
a:hover,
a:active {
	color: inherit;
	text-decoration: inherit;
}
img {
	max-width: 100%;
}

@include mobile(false, $MDmax) {
	*[data-enllax-type='foreground'] {
		transform: none !important;
	}
}

//Tags
body {
	background-color: #1b3b65;
	color: #FFF;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	width: 100%;
	min-width: fit-content;
	background-image: url(https://mkt.alexandrelobel.com.br/media/images/ladingPageNova/fundo.jpg);
	background-size: cover;
	main {
		text-align: center;
		section {
			margin: 0px !important;
			padding: 100px 0px;
			&.contato {
				min-height: 100vh;
				align-items: center;
				display: flex;
				justify-content: center;
				.logo {
					filter: brightness(10);
					margin-bottom: 75px;
					max-width: 250px;
					width: 100%;
					@include mobile(false, $MDmax) {
						max-width: 400px;
						width: 100%;
					}
				}
				.info {
					font-family: "Bebas Neue Pro";
					h2 {
						font-weight: bold;
						letter-spacing: 1px;
						font-size: 48px;
						margin-bottom: 0px;
					}
					h1 {
						font-weight: normal;
						letter-spacing: 1px;
						font-size: 26px;
						color: $azul;
						margin-bottom: 25px;
					}
					p {
						font-weight: bold;
						font-size: 18px;
						line-height: 20px;
						text-align: center;
						margin-bottom: 0px;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}