//Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,600,700&display=swap');

//Athelas
@font-face {
    font-family: 'Athelas';
    src: url('assets/font/Athelas/Athelas-Bold.eot');
    src: url('assets/font/Athelas/Athelas-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/font/Athelas/Athelas-Bold.woff2') format('woff2'),
        url('assets/font/Athelas/Athelas-Bold.woff') format('woff'),
        url('assets/font/Athelas/Athelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Athelas';
    src: url('assets/font/Athelas/Athelas-Regular.eot');
    src: url('assets/font/Athelas/Athelas-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/font/Athelas/Athelas-Regular.woff2') format('woff2'),
        url('assets/font/Athelas/Athelas-Regular.woff') format('woff'),
        url('assets/font/Athelas/Athelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athelas';
    src: url('assets/font/Athelas/Athelas-Italic.eot');
    src: url('assets/font/Athelas/Athelas-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/font/Athelas/Athelas-Italic.woff2') format('woff2'),
        url('assets/font/Athelas/Athelas-Italic.woff') format('woff'),
        url('assets/font/Athelas/Athelas-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
