//VARIAVEIS
    //Cores
    $azul: #43CAF2;
    $azulEsc: #1B3B65;

    //Tamanhos de tela
    $XSmax: 575px;
    $SMmin: 576px;
    $SMmax: 767px;
    $MDmin: 768px;
    $MDmax: 991px;
    $LGmin: 992px;
    $LGmax: 1200px;
    $XLmin: 1201px;

//MIXINS
    //Mobile
    @mixin screen($minHeight: false, $maxHeight: false) {
        @if $minHeight == false and $maxHeight == false {
            @content;
        } @else {
            @if $maxHeight == false {
                @media only screen and (min-width : $minHeight) {
                    @content;
                }
            } @else {
                @if $minHeight == false {
                    @media only screen and (max-width : $maxHeight) {
                        @content;
                    }
                } @else {
                    @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                        @content;
                    }
                }
            }
        }
    }

    .desktop,
    .Desktop {
        @include screen(false, $MDmax) {
            display: none !important;
        }
    }

    .mobile,
    .Mobile {
        @include screen($LGmin) {
            display: none !important;
        }
    }