//Tags
body {
    background-color: $azulEsc;
    color: #FFF;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    width: 100%;
    min-width: fit-content;
    background-image: url(assets/img/noise.png), url(https://mkt.alexandrelobel.com.br/media/images/ladingPageNova/fundo.jpg);
    background-size: initial, cover;
    #page {
        overflow-x: hidden;
    }
    header {
        &#masthead {
            padding: 20px 0px;
            .logo {
                filter: brightness(10);
                max-width: 150px;
                width: 100%;
                @include screen(false, $MDmax) {
                    max-width: 300px;
                    width: 100%;
                    margin: 0 auto;
                    display: block
                }
            }
            .label {
                text-align: right;                
                @include screen(false, $MDmax) {
                    text-align: center;
                }
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 0px;
                }
            }
        }
    }
    main#main {
        &.site-main {
            #modalVideo {
                * {
                    padding: 0px;
                    margin: 0px;
                }
                .modal-dialog {
                    max-width: inherit;
                    margin: 0px;
                    .modal-content {
                        padding: 0px;
                        background-color: rgba(0,0,0,0.5);
                        border-radius: 0px;
                        border: none;
                        .modal-body {
                            padding: 0px;
                            position: relative;
                            .content {
                                padding: 50px;
                                width: 100vw;
                                height: 100vh;
                                .botoes {
                                    font-family: Arial;
                                    position: absolute;
                                    color: #FFF;
                                    background-color: rgba(0,0,0,0);
                                    border: none;
                                    outline: none;
                                    transition: 0.4s;
                                    &:hover {
                                        color: $azul;
                                    }
                                    &.close {
                                        top: 20px;
                                        right: 20px;
                                        opacity: 1;
                                        text-shadow: none;
                                    }
                                    &.arrow {
                                        padding: 0px;
                                        top: 50%;
                                        -webkit-transform: translateX(-50%);
                                        -moz-transform: translateX(-50%);
                                        -ms-transform: translateX(-50%);
                                        -o-transform: translateX(-50%);
                                        transform: translateX(-50%);
                                        &.prev {
                                            left: 20px;
                                        }
                                        &.next {
                                            right: 10px;
                                        }
                                    }
                                }
                                iframe {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            section {
                margin: 0px;
                &.contagem {
                    background-color: #FC2C34;
                    margin-bottom: 30px;
                    margin-top: -30px;
                    text-align: center;
                    padding: 15px 0px;
                    h1 {
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                        font-weight: 700;
                    }
                }
                &.politica {
                    text-align: justify;
                    h2 {
                        font-weight: 700;
                        font-size: 24px;
                        margin-top: 50px;
                        margin-bottom: 20px;
                        &.first {
                            margin-top: 0px;
                        }
                    }
                    h3 {
                        font-weight: 700;
                        font-size: 16px;
                        &:first-child {
                            margin-top: 50px;
                        }
                    }
                    p {
                        font-size: 14px;
                        &.cap {
                            text-transform: uppercase;
                        }
                    }
                }
                &.video {
                    background-color: $azulEsc;
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    margin-bottom: 30px;
                    width: 100%;
                    min-height: 70vh;
                    padding: 50px 0px;
                    display: flex;
                    align-items: center;
                    &.page {
                        min-height: 40vh;
                        text-align: center;
                        margin-bottom: 50px;
                        &:before {
                            display: none;
                        }
                    }
                    &:before {
                        content: '';
                        display:: block;
                        position: absolute;
                        background: rgba(0,0,0,0.7);
                        background: -moz-linear-gradient(0deg, rgba(0,0,0,0.92) 0%, rgba(0,0,0,0.7) 100%);
                        background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.92) 0%, rgba(0,0,0,0.7) 100%);
                        background: linear-gradient(0deg, rgba(0,0,0,0.92) 0%, rgba(0,0,0,0.7) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a1856",endColorstr="#ffffff",GradientType=1);
                        width: 100%;
                        height: 100%;
                        transition: 0.4s;
                        z-index: 0;
                    }
                    .video {
                        @include screen(false, $MDmax) {
                            text-align: center;
                        }
                        #play {
                            width: 120px;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.75;
                            }
                            @include screen(false, $MDmax) {
                                margin-top: 50px;
                                margin-bottom: 50px;
                            }
                        }
                        .wreckingball {
                            background-color: rgba(252, 44, 52, 0.9);
                            width: 150px !important;
                            height: 150px;
                            border-radius: 100px;
                            padding: 20px;
                            position: relative;
                            margin: 0 auto;
                            h3 {
                            font-size: 16px;
                                position: absolute;
                                width: 80%;
                                margin-bottom: 0px;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                left: 50%;
                            }
                        }
                        h2 {
                            font-size: 32px;
                            z-index: 10;
                            font-weight: 700;
                            margin-bottom: 5px;
                            @include screen(false, $MDmax) {
                                font-size: 22px;
                            }
                        }
                        h3 {
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 50px;
                            @include screen(false, $MDmax) {
                                font-size: 14px;
                            }
                        }
                        .p {
                            p {
                                font-size: 12px;
                                text-align: justify;
                                &:first-child {
                                    display: block;
                                }
                                &:last-child {
                                    display: none;
                                }
                            }
                            &:hover {
                                p {
                                    &:first-child {
                                        display: none;
                                    }
                                    &:last-child {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }

                &.page404 {
                    height: 80vh;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    h2 {
                        color: $azul;
                        font-size: 120px;
                        font-weight: bold;
                    }
                    h3 {
                        color: $azul;
                        font-size: 42px;
                        font-weight: bold;
                        margin-bottom: 75px;
                    }
                    p {
                        margin-bottom: 0px;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }

                &.comment {
                    margin-bottom: 50px;
                    .fb-comments {
                        span {
                            iframe {
                                width: 100% !important;
                            }
                        }
                    }
                }

                &.relacionado {
                    margin-bottom: 50px;
                    .itens {
                        .item {
                            margin-bottom: 20px;
                            .thumbnail {
                                background-color: $azulEsc;
                                background-position: center;
                                background-size: cover;
                                width: 100%;
                                height: 175px;
                                margin-bottom: 10px;
                                position: relative;
                                h3 {
                                    font-size: 22px;
                                    font-weight: 700;
                                    z-index: 100;
                                    position: absolute;
                                    width: 100%;
                                    color: #dc3545;
                                    padding: 5px 10px;
                                    text-align: center;
                                    margin: 0px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    span {
                                        font-size: 1.5em;
                                    }
                                }
                                &:hover {
                                    &:before {
                                        background-color: rgba(0,0,0,0.5);
                                    }
                                }
                                &:before {
                                    content: '';
                                    position: absolute;
                                    display:: block;
                                    background-color: rgba(0,0,0,0.75);
                                    width: 100%;
                                    transition: 0.4s;
                                    height: 100%;
                                }
                            }
                            h2 {
                                font-size: 18px;
                            }
                            p {
                                font-size: 14px;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
    }
    footer#colophon {
        background-color: $azulEsc;
        margin-top: 50px;
        padding: 50px 0px;
        .logo {
            filter: brightness(10);
            max-width: 220px;
            width: 100%;
            @include screen(false, $MDmax) {
                max-width: 300px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        ul {
            text-align: right;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            @include screen(false, $MDmax) {
                text-align: center;
            }
            li {
                font-size: 14px;
                margin-bottom: 0px;
            }
        }
        p {
            display: block;
            text-align: center;
            margin-top: 50px;
            font-size: 14px;
        }
    }
}